h2 {text-align: center;
    color: #fff;
    float: right;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


header{
    background: rgb(34, 34, 245);
    text-align: center;
    height: 120px;
}

p{
    color: #fff;
    height: 20px;
}



.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 15px 25px;
    cursor: pointer;
}
.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,103,123,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}


.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}


.contenedor figure .capa h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;

}


.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor figure:hover > img {
    transform: scale(1.3);
}

h3{
    text-align: center;
    background-repeat: no-repeat;
    background-size: 1400px;
    background-color: rgb(63, 106, 247);
    border-radius: 30px;
    padding: 20px;
    border-style: solid;
    padding-top: 3vh;
    
}


.conte{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.conte a{
    font-size: 30px;
}

.facebook{
    color: blue;
    transition: all ease 500ms;
}

.twitter{
    color: aqua;
    transition: all ease 500ms;
}

.instagram{
    color: #e9184d;
    transition: all ease 500ms;
}

.youtube{
    color: red;
    transition: all ease 500ms;
}

.conte a:hover{
    transform: scale(2);
}

i{
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    transition: .3s ease;
}

.acordeon{
    max-width: 800px;
    position: center;
}
.acordeon .contentBx{
    position: relative;
    margin: 10px 20px;
    
}
.acordeon .contentBx .label{
    position: relative;
    padding: 10px;
    background-color: rgb(39, 155, 223);
    color: white;
    cursor: pointer;
}
.acordeon .contentBx .label::before{
    content: '+';
    position: center;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.acordeon .contentBx.active .label::before{
    content: "-";

}
.acordeon .contentBx .content{
    position: relative;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;

}

.acordeon .contentBx.active .content{
    height: 250px;
    padding: 10px;
}
.li{
    text-decoration: none;
}
.acordeon .label:hover{
    background: #1b2aff;
}

.p{
    color: black;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

.li{
    padding: 20px;
    font-size: 25px;
}


.estrellas{
    color: white;
    padding: 20px;
    font-size: 25px;
    transition: all ease 500ms;
}



#form {
    width: 300px;
    margin: 0 auto;
    height: 500px;
  }
  
#form p {
    text-align: center;
  }
  
#form label {
    font-size: 2000px;
  }
  
input[type="radio"] {
    display: none;
  }
  
.label {
    color: grey;
  }
.label1 {
    color: grey;
    transform: scale(1.5);
  }
  
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
.label1:hover,
.label1:hover ~ .label1{
    color: orange;
    transform: scale(2);

  }
  
input[type="radio"]:checked ~ .label1 {
    color: orange;
    transform: scale(2);

  }
.container{
    background: rgb(84, 89, 105);
}

::-webkit-scrollbar{
    width: 12px;
    border: 1px solid rgb(39, 155, 223);
}

::-webkit-scrollbar-thumb{
    background-color: #1927ecbd;
    border-radius: 6px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1335df;
    padding-left: 2vw;
}

.logo-danicodex{
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    font-size: 40px;
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color: #1ba4ff;
    border-radius: 100px;
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #ffffff ;
    text-align: center;
    background-color: #3e5bf0;
}

.ul-second > li:hover {
    background-color: #02a2ff;
}

.develop:hover > .ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #2d4ffa;
}

.ul-third > li {
    padding: 1.5vw;
    border-bottom: solid 1px #fff;
}

.front:hover > .ul-third {
    display: block;
}

@media (max-width:900px) {
    .logo-danicodex {
        display: none;
    }
}